script(src="https://cdn.staticfile.org/animejs/2.2.0/anime.min.js")

script.
	window.$ = selector => document.querySelector(selector)
	const getOriginalContent = selector => $(selector).getAttribute("original-content")
	window.subtitle = "Web Developer"
	window.signature = getOriginalContent("#signature")

script(src='js/main.js')
